<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="row grid-container">
        <div class="column">
            <img class="grid-item item1" src="../photos/alley-89197_640.jpg">
            <img class="grid-item item2" src="../photos/alley-401540_640.jpg">
            <img class="grid-item item3" src="../photos/architecture-1846023_640.jpg">
            <img class="grid-item item4" src="../photos/berlin-wall-50730_640.jpg">
            <img class="grid-item item5" src="../photos/budapest-632851_640.jpg">
            <img class="grid-item item6" src="../photos/building-valley-4859574_640.jpg">
        </div>
        <div class="column">
            <img class="grid-item item1" src="../photos/city-438393_640.jpg">
            <img class="grid-item item2" src="../photos/cloudscape-1149549_640.jpg">
            <img class="grid-item item3" src="../photos/dubai-1767540_640.jpg">
            <img class="grid-item item4" src="../photos/dubrovnik-512798_640.jpg">
            <img class="grid-item item5" src="../photos/fantasy-2543658_640.jpg">
            <img class="grid-item item6" src="../photos/grand-palace-1822487_640.jpg">
        </div>
        <div class="column">
            <img class="grid-item item1" src="../photos/guitar-1913836_640.jpg">
            <img class="grid-item item2" src="../photos/hildesheim-2772941_640.jpg">
            <img class="grid-item item3" src="../photos/hong-kong-4103334_640.jpg">
            <img class="grid-item item4" src="../photos/junction-984045_640.jpg">
            <img class="grid-item item5" src="../photos/london-3078109_640.jpg">
            <img class="grid-item item6" src="../photos/rotterdam-1598418_640.jpg">
        </div> 
        <div class="column">
            <img class="grid-item item1" src="../photos/santorini-5655111_640.jpg">
            <img class="grid-item item2" src="../photos/seaside-1209757_640.jpg">
            <img class="grid-item item3" src="../photos/shibuyasky-4768679_640.jpg">
            <img class="grid-item item4" src="../photos/skyline-831046_640.jpg">
            <img class="grid-item item5" src="../photos/town-4518117_640.jpg">
            <img class="grid-item item6" src="../photos/townscape-5584820_640.jpg">
        </div>
    </div>
</body>
</html>
